body{
    background-color: rgb(26, 47, 47);
}
.wrap{
    width: 1200px;
    margin: 40px auto;
    margin-left: 400px;
}
.btn{
    color: red;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
}
.btn1{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSeUqrn42pdJAiUpNS0MCFC1H9JuLScsRcFkgWZECVwqQ3LNzDS);
    color: white;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid green;
    font-weight: bold;
    border-radius: 10px;
    background-image: ;
    margin-left: 30px;
}
.btn2{
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid blue;
    font-weight: bold;
    border-radius: 10px;  
    margin-left: 40px;
}
.btn3{
    background-color: orange;
    color: white;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid orange;
    font-weight: bold;
    border-radius: 10px;  
    margin-left: 0px;
    margin-top: 20px;
}
.btn4{
    color: purple;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid purple;
    font-weight: bold; 
    margin-left: 30px;
}
.btn5{
    color: green;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid green;
    font-weight: bold;
    border-radius: 10px;  
    margin-left: 40px;
}