.wrap{
    width: 1200px;
    margin-left: 100px;
}
.btn:hover{
    background-color: darkblue;
    color: white;
}
.btn{
    background-color: beige;
    color: black;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}
.card{
    width: 300px;
    height: 450px;
    border: 2px ridge;
    margin: 20px auto;
    float: left;
    margin-left: 100px;
}
.card-1{
    width: 100%;
    height: 50%;
    background-color: lightgray;
    position: relative;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhGLYCUFcT2fjlPZqYqoOlQLtdUxmgRyxdid7V6PheLL1HpVjcvvYBPz7kslArJcvAQA4&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.text{
    background-color: darkorange;
    color: white;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    position: absolute;
    top: px;
    left: 220px;
}
.planshet{
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}
.yangi{
    width: 50px;
    background-color: green;
    color: white;
    margin-left: 70px;
    margin-top: -20px;
}
.smartfon{
    font-weight: bold;
    margin-left: 10px;
}
.gb{
    font-weight: bold;
    margin-left: 10px;  
}
.cc{
    text-decoration: line-through;
    margin-left: 120px;
    margin-top: 20px;
}
.img{
    width: 100px;
    height: 100px;
    margin-top: -40px;
}
.ss{
    margin-left: 120px;
    margin-top: -45px;
    font-weight: bold;
}
.ee{
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    position: absolute;
    left: 130px;
    margin-top: 0px;
}
.ooo{
    background-color: yellow;
    color: black;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 120px;
}
.ekonom{
    margin-top: 10px;
    margin-left: 195px;
}
.ee1{
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    position: absolute;
    margin-left: 20px;
}
.ee2{
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    position: absolute;
    margin-left: 20px;
}
.ee3{
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    position: absolute;
    margin-left: 20px;
}
.aa:active{
    width: 1200px;
    margin: 10px auto;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}
.a{
    width: 200px;
    height: 20px;
    background-color: beige;
    color: black;
    border: 1px ridge;
    display: inline-block;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 550px;
    margin-left: -950px;
}
.clear{
    clear: both;
}